<p>Username: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<form action="/profile" method="post">
	<fieldset>
		<legend>New article</legend>
		<div>
			<label>Title:</label>
			<input type="text" name="title" />
		</div>
		<div>
			<label>Body:</label>
			<textarea name="body" rows="10" cols="50"></textarea>
		</div>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</fieldset>
</form>
{{#if articles}}
	<p>Articles:</p>
	<ul>
		{{#each articles}}
			<li>{{this.date}}: {{this.title}}</li>
		{{/each}}
	</ul>
{{else}}
	<p>You don’t have any articles.</p>
{{/if}}
<a href="/logout">Log out</a>
